[submodule "src/modul-3/gd/PW3_D_11385"]
	path = src/modul-3/gd/PW3_D_11385
	url = https://github.com/vt92i/PW3_D_11385.git
[submodule "src/modul-4/gd/GDWeb4_D_11385"]
	path = src/modul-4/gd/GDWeb4_D_11385
	url = https://github.com/vt92i/GDWeb4_D_11385.git
[submodule "src/modul-4/ugd/UGDWeb4_D_11385"]
	path = src/modul-4/ugd/UGDWeb4_D_11385
	url = https://github.com/vt92i/UGDWeb4_D_11385.git
[submodule "src/modul-5/gd/PW5_D_11385"]
	path = src/modul-5/gd/PW5_D_11385
	url = https://github.com/vt92i/PW5_D_11385.git
[submodule "src/modul-7/gd/GD7_D_11385"]
	path = src/modul-7/gd/GD7_D_11385
	url = https://github.com/vt92i/GD7_D_11385.git
[submodule "src/modul-8/gd/GD8_D_11385"]
	path = src/modul-8/gd/GD8_D_11385
	url = https://github.com/vt92i/GD8_D_11385.git
[submodule "src/modul-9/gd/PW9_D_11385"]
	path = src/modul-9/gd/PW9_D_11385
	url = https://github.com/vt92i/PW9_D_11385.git
[submodule "src/modul-10/gd/API_D_11385"]
	path = src/modul-10/gd/API_D_11385
	url = https://github.com/vt92i/API_D_11385.git
